@model MovieDb.Data.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>MovieDao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="EditorMovie" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="movie.Title" class="control-label"></label>
                <input asp-for="movie.Title" class="form-control" />
                <span asp-validation-for="movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.Banner" class="control-label"></label>
                <input type="file" class="form-control-file" id="bannerFileInput" name="bannerFileInput">
                <span asp-validation-for="movie.Banner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.Summary" class="control-label"></label>
                <input asp-for="movie.Summary" class="form-control" />
                <span asp-validation-for="movie.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.Trailer" class="control-label"></label>
                <input asp-for="movie.Trailer" class="form-control" />
                <span asp-validation-for="movie.Trailer" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="movie.Genres" class="control-label"></label><label for="movie-genre">Select a movie genre:</label>
                <select id="movie-genre" name="genres" multiple>
                    <option value="action">Action</option>
                    <option value="adventure">Adventure</option>
                    <option value="animation">Animation</option>
                    <option value="comedy">Comedy</option>
                    <option value="crime">Crime</option>
                    <option value="documentary">Documentary</option>
                    <option value="drama">Drama</option>
                    <option value="family">Family</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="horror">Horror</option>
                    <option value="musical">Musical</option>
                    <option value="mystery">Mystery</option>
                    <option value="romance">Romance</option>
                    <option value="sci-fi">Science Fiction</option>
                    <option value="thriller">Thriller</option>
                    <option value="western">Western</option>
                </select>
                <span asp-validation-for="movie.Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.PlotKeywords" class="control-label"></label>
                <input asp-for="movie.PlotKeywords" class="form-control" />
                <span asp-validation-for="movie.PlotKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.MMPARating" class="control-label"></label>
                <input asp-for="movie.MMPARating" class="form-control" />
                <span asp-validation-for="movie.MMPARating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.RunTime" class="control-label"></label>
                <input asp-for="movie.RunTime" class="form-control" />
                <span asp-validation-for="movie.RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movie.ReleaseDate" class="control-label"></label>
                <input asp-for="movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <select asp-for="Actors" class="form-control" asp-items="ViewBag.Actors" multiple></select>
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

