@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-controller="UserProfile" asp-action="Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-outline-danger" style="font-family: 'Dosis', sans-serif;
                    font-size: 14px;
                    color: #abb7c4;
                    font-weight: bold;
                    margin-left:20px;
                    text-transform: uppercase;
                    border:none;
                    cursor: pointer;">
                LOGOUT
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-default" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-default" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    
}

