<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Combobox</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#comboSelect').change(function () {
                var selectedOption = $(this).val();
                if (selectedOption === 'actors') {
                    window.location.href = 'actors.html'; // Actors sayfasına yönlendirme
                } else if (selectedOption === 'movies') {
                    window.location.href = 'movies.html'; // Movies sayfasına yönlendirme
                }
            });
        });
    </script>
</body>

</html>